@charset 'utf-8';

.archive-area {
	@include inner;
	padding-bottom: 20px;
	@media screen and (max-width:800px) {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 10px;
	}
	&__headline {
		@include headline;
	}
	&__list {
	}
	&__item {
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 20px 0;
		border-bottom: 1px solid #efefef;
		max-width: 100%;
		@extend .cf;
		&:first-child {
			border-top: 1px solid #efefef;
		}
	}
	&__date {
		float: left;
		color: $color-text;
		font-size: $fs-s;
		padding-top: 3px;
		@media screen and (max-width:800px) {
			float: none;
			padding: 0;
		}
	}
	&__title {
		padding-left: 135px;
		font-size: $fs-m;
		@media screen and (max-width:800px) {
			padding: 0;
		}
	}
	a {
		display: block;
		color: $color-primary;
		&:hover {
			text-decoration: underline;
		}
	}
	&__cat {
		text-align: center;
		background: $color-primary;
		padding: 10px 20px;
		display: block;
		color: #FFF;
		-webkit-border-radius: 10px;
		        border-radius: 10px;
		width: 350px;
		margin: 20px auto;
	}
}

.nav-link {
	@extend .cf;
	margin: 20px 0 0;
	&__left {
		float: left;
	}
	&__right {
		float: right;
	}
	a {
		display: block;
		background: $color-primary;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		padding: 15px 20px;
		color: #FFF;
		&:hover {
			background: lighten($color-primary,5);
		}
	}
}