@charset 'utf-8';

.archive-area {
	@include inner;
	padding-bottom: 20px;
	&__headline {
		@include headline;
	}
	&__list {
		
	}
	&__item {
		padding: 20px 0;
		border-bottom: 1px solid #efefef;
		@extend .cf;
		&:first-child {
			border-top: 1px solid #efefef;
		}
	}
	&__date {
		float: left;
		color: $color-text;
		font-size: $fs-s;
		padding-top: 3px;
	}
	&__title {
		padding-left: 135px;
		font-size: $fs-m;
	}
	a {
		display: block;
		color: $color-primary;
		&:hover {
			text-decoration: underline;
		}
	}
}

.nav-link {
	@extend .cf;
	margin: 20px 0 0;
	&__left {
		float: left;
	}
	&__right {
		float: right;
	}
	a {
		display: block;
		background: $color-primary;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
		padding: 15px 20px;
		color: #FFF;
		&:hover {
			background: lighten($color-primary,5);
		}
	}
}