@charset 'utf-8';

.frontHeader {
	background: url(../img/bg.jpg);
	background-position: center top ;
	background-repeat: repeat;
	&__inner {
		@include inner;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&__visual {
		text-align: center;
	}
}

.frontNews {
	&__inner {
		@include inner;
		@extend .cf;
	}
	&__headline {
		@include headline;
//		float: left;
//		text-align: left;
//		margin-right: 50px;
	}
	&__list {
//		float: left;
		list-style: none;
		margin: 0 auto;
		padding: 0 0  30px;
		width: 800px;
	}
	&__item {
		margin-bottom: 10px;
		@extend .cf;
		line-height: 1.5;
		&__date {
			display: block;
			font-size: $fs-s;
			font-weight: bold;
			float: left;
			padding-top: 3px;
		}
		&__title {
			display: block;
			text-decoration: underline;
			font-size: $fs-m;
			padding-left: 140px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	a {
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
}


.frontBlog {
	&__inner {
		@include inner;
	}
	&__headline {
		@include headline;
	}
}

.frontShop {
	&__inner {
		@include inner;
	}
	&__headline {
		@include headline;
	}
}


.col-3 {
	@extend .cf;
	&__item {
		width: 31.333%;
		float: left;
		padding: 1%;
		img {
			width: 100%;
		}
	}
	a {
		display: block;
	}
	&__img {

	}
	&__date {
		font-size: $fs-xs;
		color: $color-primary;
		font-weight: bold;
		margin-top: 5px;
	}
	&__headline {
		font-size: $fs-s;
		font-weight: bold;
		margin-top: 3px;
	}
}

.frontSpecial {
	background: $color-foodear;
	color: #FFF;
	display: block;
	&:hover {
		background: darken($color-foodear,3);
	}
	&__inner {
		padding: 20px 0 10px;
		@extend .cf;
	}
	a {
		color: #FFF;
		display: block;
		img {
			&:hover {
				opacity: 1;
			}
		}
		&:hover {
			text-decoration: underline;
			opacity: 0.8;
		}
	}
	&__text {
		margin: 15px auto;
		font-size: $fs-s;
		text-align: center;
	}
	&__image {
		width: 100px;
		margin: auto;
	}
}