@charset 'utf-8';

.frontHeader {
	background: url(/assets/img/bg.jpg);
	background-position: center top ;
	background-repeat: repeat;
	&__inner {
		@include inner;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&__visual {
		text-align: center;
	}
}

.frontNews {
	&__inner {
		@include inner;
		@extend .cf;
	}
	&__headline {
		@include headline;
	}
	&__list {
		float: left;
		list-style: none;
		margin: 0;
		padding: 0 0  30px;
	}
	&__item {
		margin-bottom: 10px;
		&__date {
			display: inline-block;
			font-size: $fs-s;
			font-weight: bold;
		}
		&__title {
			display: inline-block;
			text-decoration: underline;
			font-size: $fs-m;
			&:hover {
				text-decoration: none;
			}
		}
	}
	a {
		display: block;
		&:hover {
			text-decoration: none;
		}
	}
}


.frontBlog {
	&__inner {
		@include inner;
	}
	&__headline {
		@include headline;
	}
}

.frontShop {
	&__inner {
		@include inner;
	}
	&__headline {
		@include headline;
	}
}


.col-3 {
	@extend .cf;
	&__item {
		width: 31.333%;
		float: left;
		padding: 1%;
		img {
			width: 100%;
		}
	}
	a {
		display: block;
	}
	&__img {

	}
	&__date {
		font-size: $fs-xs;
		color: $color-primary;
		font-weight: bold;
		margin-top: 5px;
	}
	&__headline {
		font-size: $fs-s;
		font-weight: bold;
		margin-top: 3px;
	}
}

.frontEvent {
	background: url(/assets/img/bg-green.jpg);
	&__inner {
		@include inner;
	}
	&__headline {
		@include headline;
	}
	&__content {

	}
	&__map {
		text-align: center;
	}
}

.frontContact {
	background: url(/assets/img/bg-paper.jpg);
	background-repeat: repeat;
	&__inner {
		@include inner;
		width: 500px;
	}
	&__headline {
		@include headline;
	}
	&__list {
		
	}
	&__item {
		
	}
}

.frontSponsor {
	&__inner {
		@include inner;
	}
	&__headline {
		@include headline;
	}
	&__list {
	}
	&__item {
		display: block;
		text-align: center;
		img {
			height: 100px;
			width: auto;
		}
	}
}

.frontSpecial {
	background: #FFBC22;
	color: #FFF;
	&__inner {
		@include inner;
		padding: 10px 0;
		@extend .cf;
		p {
			float: left;
			margin-top: 15px;
			margin-left: 50px;
			font-size: $fs-l;
			font-weight: bold;
		}
		img {
			width: 100px;
			margin-right: 50px;
			float: right;
		}
	}
}

.moreButton {
	text-align: center;
}