@charset 'utf-8';

.frontSponsor {
	&__inner {
		@include inner;
		padding-bottom: 20px;
	}
	&__headline {
		@include headline;
	}
	&__list {
		display: -webkit-flex; /* Safari */
		display: flex;
		-webkit-justify-content: center; /* Safari */
		justify-content:         center;
		height: 80px;
		@media screen and (max-width:800px) {
			display: block;
			*zoom: 1;
			&:before {
				content: " ";
				display: table;
			}
			&:after {
				content: " ";
				display: table;
				clear: both;
			}
		}
	}
	&__item {
		padding: 10px 25px;
		position: relative;
		width: 80px;
		@media screen and (max-width:800px) {
			-webkit-box-sizing: border-box;
			   -moz-box-sizing: border-box;
			        box-sizing: border-box;
			width: 50%;
			padding: 0;
			float: left;
			height: 80px;
			
		}
		img {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			width: 80px;
			max-height: 150px;
		}
	}
}