doctype html
html(lang="ja")
	head
		title キッチンカースタジアムグルメ選手権2016
		link(rel='stylesheet', href='./assets/css/app.css')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		meta(charset='utf-8')
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	body
		include parts/_front.jade
		include parts/_footer.jade