@charset 'utf-8';

// color
$color-text: #666;
$color-link: #444;

$color-primary: #AF0B0C;
$color-primary--light: #3dd0c9;
$color-secondary: #b9aa56;
$color-thread: #e2e2e2;

$color-foodear: #FFBC22;


// layout
$width : 800px;

// font size
$fs-xl: 38px;
$fs-ll: 30px;
$fs-l: 21px;
$fs-m: 17px;
$fs-s: 14px;
$fs-xs: 11px;

// font family

$ff-primary : Hiragino Sans,"ヒラギノ角ゴシック","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meriyo,sans-serif;

body {
	font-family: $ff-primary;
}

//mixin


@mixin inner {
	width: $width;
	margin: auto;
	padding: 30px 0 50px;
}

@mixin headline {
	text-align: center;
	margin: 30px 0 20px;
}

//


// link
a {
	text-decoration: none;
	color: $color-link;
	&:hover {
		text-decoration: none;
	}
	img {
		&:hover {
			opacity: 0.8;
		}
	}
}



// table
table {
  border-collapse: collapse;
  border-spacing: 0;
}